[2022-08-07 20:11] Rajdip019 opened #4 "Deploy the end points"
You can try deploying the endpoints so that people can see the results and test the API out. And you can add a limit of request/user. @nikhil25803

[2022-08-07 20:12] nikhil25803 commented on #4
One more endpoint is left, after adding it to the project I will try to deploy it.

[2022-08-07 20:18] Rajdip019 commented on #4
Gotcha!

[2022-09-28 10:38] Roshaen opened #7 "Docs"
Doc improvements  :
---
* Introduction to collage API
* List endpoints
* Contribution guidelines

[2022-09-30 07:11] nikhil25803 opened #13 "Optimize code to reduce latency in filtering the data."

[2022-09-30 07:17] #7 closed

[2022-09-30 12:44] aarjavpatni commented on #13
Hey there!
I'd like to work on this. Can you assign this to me?

[2022-09-30 12:50] nikhil25803 commented on #13
Sure @aarjavpatni, Go ahead!

[2022-09-30 12:57] nikhil25803 opened #14 "Build the endpoints to fetch all the medical colleges."
**Note** :
+ [This](https://www.nirfindia.org/2022/MedicalRankingALL.html) is the list of all the Participated Institutes Medical.
+ Set the path as `/medical_colleges/`
+ The response should return the name of the college along with the city and state.

[2022-09-30 13:01] nikhil25803 opened #15 "Build the endpoint to fetch all the NIRF ranked medical colleges in India."
**Note**
+ [This](https://www.nirfindia.org/2022/MedicalRanking.html) is the list of all the medical colleges in India that are ranked by NIRF.
+ Set  the path as `/medical_colleges/nirf`
+ The response should have the name of the colleges along with their city,  state, and NIRF rankings.

[2022-09-30 13:04] codegoggins commented on #15
Hey ! @nikhil25803 I would love to work on this , please assign it to me

[2022-09-30 13:14] nikhil25803 commented on #15
Go ahead @codegoggins !!

[2022-10-01 02:49] deathsurgeon1 commented on #14
Hi @nikhil25803 , I would like to work on this

[2022-10-01 04:25] nikhil25803 commented on #14
Sure @deathsurgeon1, go ahead !!

[2022-10-01 05:35] nikhil25803 opened #16 "Build an UI for this project."
**Notes**
+ Idea is to give this project a user interface on the root `/` path, as a landing page.
+ Create a `templates` folder and create all the UI-related files in that folder only.
+ The template folder must have an `index.html` file.
+ Before asking to get this issue assigned to you, please explain your idea in the comments below explaining the design(you may upload an image for reference) a

[2022-10-01 08:48] Santhosh2231 opened #19 "Some new endpoints"
- Filtering colleges from particular NIRF to another NIRF ( Let's say 10 to 20 colleges)
- Ordering the state colleges by NIRF
- Filtering colleges by multiple states
- Filtering colleges by multiple cities.

Hey!! @nikhil25803 I want to work on some of the endpoints. Check the endpoints which are really useful and please assign to me.

[2022-10-01 08:59] nikhil25803 commented on #19
For now, we have the data of all the engineering colleges. So you can add the endpoint to filter colleges by multiple states (for engineering colleges as of now only). Can you do it?

[2022-10-01 09:04] Santhosh2231 commented on #19
yea sure

[2022-10-01 09:10] nikhil25803 commented on #19
Okay !! Assigning it to you.

[2022-10-01 09:43] deathsurgeon1 commented on #14
PR #17 raised and merged for above issue.

[2022-10-01 11:44] nikhil25803 opened #23 "Endpoint to fetch the list of all management colleges in India."
**Note**
+ [This](https://www.nirfindia.org/2022/ManagementRankingALL.html) is the list of all the management colleges listed in NIRF.
+ Build an endpoint that returns the name of the colleges along with their city and state.
+ Set the path as `/management_colleges`

[2022-10-01 11:48] ighoshsubho commented on #23
*I would like to work on this*

[2022-10-01 11:52] nikhil25803 opened #24 "Build an endpoint to fetch the list of NIRF ranked management colleges."
**Note**
+ You have to list all the management colleges in India that are ranked by NIRF
+ You can find the list of colleges on NIRF [official website](https://www.nirfindia.org/Home)
+ Set the path as `management_colleges/nirf`
+ The output should have the name of all the colleges along with their rank, city and state.

[2022-10-01 11:53] nikhil25803 commented on #23
Sure @ighoshsubho , go ahead!

[2022-10-01 11:54] ighoshsubho commented on #24
**I would like to work on this**

[2022-10-01 11:56] nikhil25803 commented on #24
Okay @ighoshsubho , assigning it to you.

[2022-10-02 06:18] smit-sms opened #25 "Build the endpoint for filtering Medical Colleges by City and State"
New endpoints for filtering Medical Colleges by the following:

1. State
2. City

[2022-10-02 06:19] smit-sms commented on #25
I would like to add the following 2 mentioned endpoints. Please assign this to me.

[2022-10-02 06:47] #4 closed

[2022-10-02 17:20] nikhil25803 commented on #25
Sure @smit-sms ! Go ahead

[2022-10-02 17:24] lostgirljourney commented on #16
Hi, I want to discuss this. I am a frontend developer and I can do this using React. Tho I don't know designing very well but we can look together for inspiration.

[2022-10-02 17:31] nikhil25803 commented on #16
Sure @lostgirljourney
But instead of using a framework, we are looking to build the page using HTML, CSS, and JS only (you may use Bootstrap) so that we can render it easily as a template response in FastAPI. If you are okay with this, we can step ahead and discuss the design ideas.

[2022-10-02 17:38] lostgirljourney commented on #16
Okay, here asked for the stack, so suggested React. And sure thing, we can go ahead with simple HTML, CSS, and JS, and it will be a new experience for me as well to work with the template response of FastAPI.

[2022-10-02 17:47] nikhil25803 commented on #16
Great!
Assigning it to you and inviting you to the [idea discussion page](https://github.com/Clueless-Community/collegeAPI/discussions/18) where we can discuss the design and once it is done, you can start working on it.

Just drop a Hi there :)

[2022-10-03 05:51] #25 closed

[2022-10-04 05:40] nikhil25803 commented on #24
Closing this issue as it is solved. Pull request #31

[2022-10-04 05:40] #24 closed

[2022-10-04 13:04] lostgirljourney commented on #16
@nikhil25803 What exactly do you want to add to the website? Can you state that? That will give me an idea to proceed.

[2022-10-04 13:07] Roshaen commented on #23
Hey @ighoshsubho share your progress

[2022-10-04 13:48] nikhil25803 commented on #16
### The homepage will look like this
+ Left side of the navbar - CollegeAPI.
+ Right side of the navbar - Discord and GitHub link (with logo)
+ The hero section includes written `collegeAPI` powered by `Clueless Community` in camel case with a brief description of it and on the right side of the hero section you can use any relevant SVG/PNG so that it doesn't look too minimal.
+ Something similar

[2022-10-04 13:57] lostgirljourney commented on #16
@nikhil25803 Got you. I will start over this, might take a bit of time as exams and office both gonna go simultaneously. :)

[2022-10-04 15:24] nikhil25803 commented on #16
Sure @lostgirljourney !! No hurry :)

[2022-10-05 04:34] nikhil25803 commented on #13
@prakrit55
In the `src/filters.py` file, a Python script is written to filter data out of engineering, medical or management colleges(more will be added). So what we need is to optimize those scripts (for now we are just searching them in a list). You can use dictionary comprehensions or any external package to make them filter faster.

[2022-10-05 04:36] #14 closed

[2022-10-05 04:38] nikhil25803 commented on #15
Any update @codegoggins ?

[2022-10-05 04:39] prakrit55 commented on #13
Okay, you can assign this to me I'd like to work on this.

[2022-10-05 04:48] nikhil25803 commented on #13
Sure @prakrit55 | Go ahead!

[2022-10-05 08:23] nikhil25803 opened #35 "Design a favicon for this project."
Design a favicon(logo) that will be associated with this webpage.

[2022-10-05 13:46] Santhosh2231 commented on #19
@nikhil25803 Check the pull request #21

[2022-10-05 15:28] nikhil25803 commented on #19
Great! Closing this issue.

[2022-10-05 15:28] #19 closed

[2022-10-05 15:34] nikhil25803 opened #36 "Endpoint to fetch list Universities."
**Notes**
+ [This](https://www.nirfindia.org/2022/UniversityRanking.html) is the list of university data.
+ Scrape this data, store it in `collegeAPI/data` folder.
+ Define an endpoint to fetch the data, set the path as `/universities`
+ The response should have the names of the universities along with their city, state, and rank.

[2022-10-05 15:39] nikhil25803 opened #37 "Endpoint to fetch the details of all the colleges listed in NIRF"
**Notes**
+ [This](https://www.nirfindia.org/2022/CollegeRankingALL.html) is the list of all the participating colleges.
+ Scrape this data and store the data in the `collegeAPI/data` folder in JSON format and the scraper file in the `collegeAPI/helpers` folder.
+ Define an endpoint to fetch the list of the colleges and set the path as `/colleges`.
+ The response must have the name of the colleges

[2022-10-05 15:41] nikhil25803 commented on #36
Sure @SainathPoojary | Go ahead.

[2022-10-05 15:51] nikhil25803 opened #38 "Endpoint to fetch the list of colleges RANKED by NIRF."
**Notes**
+ [This](https://www.nirfindia.org/2022/CollegeRanking.html) is the list of colleges ranked by NIRF.
+ Scrape the data, store it in the `/data` folder and upload the scrapper file too in the `/helpers` folders.
+ Define an endpoint to fetch the list and set the path as `/colleges/nirf`.
+ Please note that the rank is provided for the first 100 colleges only, you need to update the rank b

[2022-10-06 06:18] jpphilips commented on #38
Hello, I would like to work on this issue.

[2022-10-06 06:19] nikhil25803 commented on #38
Sure @jpphilips | Go ahead :)

[2022-10-06 06:36] jpphilips commented on #38
Colleges from 101-200 don't have a score and are listed alphabetically. I'll rank them as they are listed, yh?

[2022-10-06 11:23] ashutoshkrris commented on #37
Hi @nikhil25803
I'd like to work on this issue.

[2022-10-06 12:15] nikhil25803 commented on #37
Sure @ashutoshkrris  | Go ahead

[2022-10-06 16:08] nikhil25803 opened #41 "Update the new endpoints in the README.md"

[2022-10-06 16:12] kiran-thilak commented on #41
can I work on this issue?

[2022-10-06 16:14] nikhil25803 commented on #41
Sure @kiran-thilak | Go ahead :)

[2022-10-06 16:35] kiran-thilak commented on #41
Hi @nikhil25803,
![image](https://user-images.githubusercontent.com/8852764/194369222-e9d57089-c3ea-4814-a993-df752641940c.png)
Please review the changes.

[2022-10-06 19:47] #41 closed

[2022-10-06 19:51] #37 closed

[2022-10-07 05:01] Anshika-sona commented on #35
hi, will love to work on this ,please assign me this.

[2022-10-07 05:50] nikhil25803 commented on #35
Sure @Anshika-sona | Go agead :)
Once it is done, share the link here so that other teammates can also review it.

[2022-10-07 19:24] prakrit55 commented on #15
Hey @nikhil25803 if this hasn't been any progress I would love to check this out.

[2022-10-08 05:35] nikhil25803 opened #48 "Enpoint to fecth NIRF ranked research institutions."
**Notes**
+ [This](https://www.nirfindia.org/2022/Ranking.html) is the data of research institutions.
+ Scrape this data and store it in `data` folder and the corresponding python file in `helpers` folder.
+ Set the endpoint as `/research_institutes`

[2022-10-08 05:39] nikhil25803 opened #49 "Build the endpoint to fetch all the participating pharmacy college in India."
**NOTES**
+ Scrape the data from [this](https://www.nirfindia.org/2022/PharmacyRankingALL.html) page.
+ Set the endpoint as `/pharmacy_colleges`

[2022-10-08 05:41] nikhil25803 opened #50 "An endpoint to fetch all the NIRF ranked Pharmacy college."
**NOTES**
+ [This](https://www.nirfindia.org/2022/PharmacyRanking.html) is the list of all the pharmacy colleges that are ranked by NIRF.
+ Scrape this data and set the endpoint as `/pharmacy_colleges/nirf`

[2022-10-08 05:43] nikhil25803 commented on #15
@prakrit55  Every assignee will get at least 7 days to make a contribution. I have raised some similar issues to build new endpoints. You may check them out.

[2022-10-08 05:57] gaut2003 commented on #50
Please assign this to me.

[2022-10-08 06:07] jpphilips commented on #49
hello. I would like to work on this

[2022-10-08 06:12] aniketh-varma commented on #48
Hi, I would like to work on this issue.

[2022-10-08 06:21] gaut2003 commented on #50
Please assign this to me

[2022-10-08 06:23] SatabrataPaul-GitAc commented on #23
Hi @nikhil25803
Can you assign this issue to me
Will take it up

[2022-10-08 06:24] SatabrataPaul-GitAc commented on #49
Would like to work on this
Kindly assign it to me

[2022-10-08 06:34] nikhil25803 commented on #50
Sure @gaut2003 | Go ahead.

[2022-10-08 07:12] tanmoy27112000 opened #51 "Add colleges from Siliguri into the data"
I would like to add the colleges

[2022-10-08 07:29] nikhil25803 opened #53 "Need to dockerize this project."

[2022-10-08 07:38] nikhil25803 opened #54 "Build an endpoint to fetch all the NIRF ranked Dental college."
**Notes**
+ [This](https://www.nirfindia.org/2022/DentalRanking.html) is the list of all the dental colleges ranked by NIRF.
+ Store the scrapped data in `data` folder in JSON format and the scrapper in the `helpers` folder.
+ Define the endpoint as `/dental_colleges/nirf`
+ The response should have the names of the colleges along with their rank, city, and state.

[2022-10-08 07:39] SatabrataPaul-GitAc commented on #54
Assign this issue to me
Would like to work on this

[2022-10-08 07:49] tanmoy27112000 commented on #51
@nikhil25803  can you assign this issue to me

[2022-10-08 07:50] Lagstill commented on #53
Added docker file,kindly review it

[2022-10-08 08:03] sayakongit opened #56 "Some college seems to be missing"
I found that some engineering colleges of my city are missing in the list.

[2022-10-08 08:09] nikhil25803 opened #57 "Endpoint to fetch the details of all the participated dental institutes."
**Notes**
+ [This](https://www.nirfindia.org/2022/DentalRankingALL.html) is the list of all the participated dental colleges.
+ Store the scrapped data in `data` folder in JSON format and the scrapper in the `helpers` folder.
+ Define the endpoint as `/dental_colleges`
+ The response should have the names of the colleges along with their city, and state.

[2022-10-08 08:10] SatabrataPaul-GitAc commented on #57
Assign this issue to me
Would like to contribute to this

[2022-10-08 08:12] nikhil25803 opened #58 "Endpoint to fetch all the law colleges ranked by NIRF."
+ [This](https://www.nirfindia.org/2022/LawRanking.html) is the list of all the law college ranked by NIRF.
+ Store the scrapped data in `data` folder in JSON format and the scrapper in the `helpers` folder.
+ Define the endpoint as `/law_colleges/nirf`
+ The response should have the names of the colleges along with their rank, city, and state.

[2022-10-08 08:15] nikhil25803 commented on #51
Sure @tanmoy27112000   | Go ahead.

[2022-10-08 08:16] nikhil25803 commented on #56
Add them and make a PR @sayakongit

[2022-10-08 08:18] nikhil25803 commented on #48
Sure @aniketh-varma  | Go ahead.

[2022-10-08 08:19] SatabrataPaul-GitAc commented on #58
Want to work on this
Kindly assign it to me

[2022-10-08 08:20] rohannsrivastav commented on #35
Can I also work on this?

[2022-10-08 08:23] nikhil25803 commented on #53
Hey @Lagstill | This issue has already been assigned and it is not a good practice to make a PR without getting assigned. So please close the PR you made.
Stay tuned, will raise more issues, and you may look into them.

[2022-10-08 08:54] nikhil25803 commented on #49
PR corresponding to this issue has already been merged. So closing this issue.

[2022-10-08 08:54] #49 closed

[2022-10-08 08:55] nikhil25803 commented on #38
PR has already been merged. So closing this one.

[2022-10-08 08:55] #38 closed

[2022-10-08 09:20] #51 closed

[2022-10-08 14:12] ighoshsubho commented on #23
*I did complete the issue with the endpoint to fetch nirf management colleges*

[2022-10-08 14:26] ighoshsubho opened #67 "Endpoint to fetch all the Architecture colleges ranked by NIRF."
## I would like to work on this :
1. I will fetch the list of all the Architecture college ranked by NIRF.
2. Store the scrapped data in data folder in JSON format and the scrapper in the helpers folder.
3. Define the endpoint as /architecture_colleges/nirf
4. I will make the response such that it should have the names of the colleges along with their rank, city, and state.

[2022-10-08 14:33] OMH-G opened #68 "Redundant raise error was present"
**Description**
Redundant raise error was present at medical `/medical_colleges/city={city}` endpoint I have made some changes and removed extra raise present in api endpoint to reduce line of code can you go through it @nikhil25803 ?

Link :https://github.com/Clueless-Community/collegeAPI/pull/65#issue-1401960451

[2022-10-08 14:37] ighoshsubho opened #69 "Endpoint to fetch the details of all the participated architecture colleges."
## I want to work on this :
1. I would like to add the list of all the participated architecture colleges.
2. Store the scrapped data in data folder in JSON format and the scrapper in the helpers folder.
3. Define the endpoint as /architecture_colleges
4. I will make sure that the response should have the names of the colleges along with their city, and state.

[2022-10-08 14:40] OMH-G opened #70 "Addition of College name"
**Description**
Some colleges near by me were not added I have made some changes to it could you verify it .

- [x] Checked codebase
- [x] visited through various colleges Names
link : https://github.com/Clueless-Community/collegeAPI/pull/66#issue-1401962734

[2022-10-08 15:23] #23 closed

[2022-10-08 15:52] prakrit55 opened #72 "Endpoint to fetch the details of research colleges"
- [This](https://www.nirfindia.org/2022/ResearchRanking.html) is the list of all the research colleges.
- Store the scrapped data in data folder in JSON format and the scrapper in the helpers folder.
- Define the endpoint as /research_colleges
- The response should have the names of the colleges along with their rank, city, and state.

[2022-10-08 15:53] prakrit55 commented on #72
If this is reviewed and accepted , please do assign me.

[2022-10-08 15:55] prakrit55 opened #73 "Endpoint to fetch the details of all Research colleges ranked by NIRF."
- [This](https://www.nirfindia.org/2022/ResearchRanking.html) is the list of all the research colleges ranked by nirf.
- Store the scrapped data in data folder in JSON format and the scrapper in the helpers folder.
- Define the endpoint as /research_colleges/nirf
- The response should have the names of the colleges along with their rank, city, and state.

[2022-10-08 15:56] prakrit55 commented on #73
I would like to work on this if it is accepted.

[2022-10-09 07:25] nikhil25803 commented on #68
Closing this issue as the PR has been merged :)

[2022-10-09 07:25] #68 closed

[2022-10-09 07:37] nikhil25803 commented on #67
Sure @ighoshsubho  |  Go ahead :)

[2022-10-09 07:40] nikhil25803 commented on #69
Sure @ighoshsubho  | Go ahead :))

[2022-10-09 07:40] nikhil25803 commented on #70
PR has been merged, so closing this issue :)

[2022-10-09 07:40] #70 closed

[2022-10-09 07:48] rahulkarda commented on #16
Hi @nikhil25803 , look at this UI that I made for my API. If you like it then I can share the template files with you for the college API. It's built using pure HTML, CSS, and JS.

Here's my API link: https://crypto-info-api.herokuapp.com/

[2022-10-09 07:56] nikhil25803 commented on #16
It's really good @rahulkarda | You can ask @lostgirljourney and can work together.
But I want to tell you now only that, when this PR will get merged, the points will be given to her only.

[2022-10-09 07:57] rahulkarda commented on #16
Ok. I'll talk to her.

On Sun, Oct 9, 2022 at 1:26 PM Nikhil Raj ***@***.***> wrote:

[2022-10-09 08:00] nikhil25803 commented on #16
Glad to have contributors like you @rahulkarda bhaiya :)
You can use this [page](https://github.com/Clueless-Community/collegeAPI/discussions/18) to discuss the idea with the team.

[2022-10-09 08:31] nikhil25803 commented on #73
Sure @prakrit55  | Go ahead

[2022-10-09 08:32] rahulkarda commented on #16
Cool, thanks!

On Sun, 9 Oct, 2022, 1:31 pm Nikhil Raj, ***@***.***> wrote:

[2022-10-09 08:32] nikhil25803 commented on #72
Go ahead @prakrit55 |

[2022-10-09 08:38] nikhil25803 commented on #54
Closing this, as the corresponding PR has already been merged.

[2022-10-09 08:38] #54 closed

[2022-10-09 10:42] SainathPoojary commented on #36
Hey @nikhil25803, I have raised a PR. let me know if you need any changes.

[2022-10-09 10:44] nikhil25803 commented on #36
Yes @SainathPoojary, there are some merge conflicts. Please look into this

[2022-10-09 11:50] OMH-G opened #83 "Comma punctuation mark is not added in allEngineeringColleges.json"
**Description**
I have added a punctuation mark can you have a look through it @nikhil25803
Link : https://github.com/Clueless-Community/collegeAPI/pull/82#issue-1402250070

[2022-10-09 12:10] OMH-G opened #85 "Function concept need to implement to reduce line of code and improve optimization in filters.py"
I have made some changes in **filters.py** that is added one processing function to manipulate the task and its line of code is reduced
can you have a look through it @nikhil25803
link : https://github.com/Clueless-Community/collegeAPI/pull/84#issue-1402255059

[2022-10-09 16:52] shashankbhatgs opened #89 "feat: Add pull request template and issue templates"
## Description
There are currently no issue templates and the pull request template. I would like to add these so that it'll help folks contributing to the project by giving a structured way to describe the problem.

[2022-10-09 16:55] shashankbhatgs commented on #89
Also, to cover every detail can I use the same templates from the main page, clueless-official-website? @nikhil25803  @Roshaen

[2022-10-09 17:04] Roshaen commented on #89
Yes, you can
Go for it

[2022-10-10 05:38] nikhil25803 commented on #15
Hey @prakrit55, would you like to work on this issue?

[2022-10-10 05:39] #83 closed

[2022-10-10 05:39] nikhil25803 commented on #85
Closing this issue as the corresponding PR has already been merged.

[2022-10-10 05:39] #85 closed

[2022-10-10 07:04] gaut2003 commented on #57
Please assign this to me.

[2022-10-10 07:05] OMH-G opened #92 "Indentation of output variable in main.py is changed at some endpoint"
**Description**
output variable in main.py inside the `/dental_colleges/nirf`,`/law_colleges/nirf` is changed should I put it in outer indent block or leave it as it is @nikhil25803 .

[2022-10-10 08:04] gaut2003 commented on #57
Hey @nikhil25803 I have made the required changes and sent you a PR related to it. Kindly check.

[2022-10-10 09:04] nikhil25803 commented on #92
Leave it as it is @OMH-G

[2022-10-10 09:04] #92 closed

[2022-10-10 09:08] #89 closed

[2022-10-10 11:59] Visha17 opened #94 "Endpoint to fetch the details of all TamilNadu colleges ranked by NIRF"
### Description

- [This](https://www.collegedekho.com/news/list-of-best-engineering-colleges-in-tamil-nadu-nirf-rankings-2022-29681/) is the list of all the research colleges ranked by nirf.
- Store the scrapped data in data folder in JSON format and the scrapper in the helpers folder.
- Define the endpoint as /TamilNadu_colleges/nirf
- The response should have the names of the colleges along wit

[2022-10-10 12:03] Visha17 opened #95 "Endpoint to fetch the details of all the TamilNadu colleges ranked by NIRF"
### Description

- [This](https://www.collegedekho.com/news/list-of-best-engineering-colleges-in-tamil-nadu-nirf-rankings-2022-29681/) is the list of all the research colleges ranked by nirf.
- Store the scrapped data in data folder in JSON format and the scrapper in the helpers folder.
- Define the endpoint as /TamilNadu_colleges/nirf
- The response should have the names of the colleges along wit

[2022-10-10 12:33] OMH-G opened #97 "Optimization needed and response need to return 1D list instead of 2D list"
### Description

### Before

In the response I have checked that it was returning 2D response and main.py there were some lines in api which were repeated again function is needed.
### After
Using **extend** keyword instead of **append** keyword inside the api like `engineering_colleges/state={state}` worked and it returned 1D array as it will be better for further processing and extraction .
can

[2022-10-10 12:41] nikhil25803 commented on #97
Closing this one, thanks for contributing :)

[2022-10-10 12:41] #97 closed

[2022-10-10 12:47] nikhil25803 commented on #95
Hey @Visha17 | We can not build an endpoint respective to a specific city/state.
However, we do have plans to build an endpoint that fetches all the colleges(engineering, medical, etc) from a specific city and state.

Will raise the such issue once all the data gets curated.

[2022-10-10 12:50] #94 closed

[2022-10-10 12:56] nikhil25803 commented on #95
The endpoint of which I was talking will be common for all when the user asks for the college's inn city of Kolkata, it will return all the colleges from all the streams. Not just engineering and medical colleges.
So if you do have any plans on how to implement it, you may work on it.

[2022-10-10 13:20] SatabrataPaul-GitAc commented on #57
Should I raise my PR @nikhil25803
I was assigned this
So was working on it

[2022-10-10 13:23] nikhil25803 commented on #57
Sure @SatabrataPaul-GitAc bhaiya :)

[2022-10-10 14:23] Ravina-Deogadkar commented on #15
Hey I would like to work on this

[2022-10-10 15:51] nikhil25803 commented on #15
Sure @Ravina-Deogadkar, go ahead !!!

[2022-10-10 19:20] #67 closed

[2022-10-11 07:56] manav-06 commented on #13
Hi, @nikhil25803 you can assign this to me

[2022-10-11 12:36] nikhil25803 commented on #72
Closing this one as the corresponding PR has already been merged.

[2022-10-11 12:36] #72 closed

[2022-10-11 12:36] nikhil25803 commented on #73
Closing this one as the corresponding PR has already been merged. Thanks @prakrit55  :D

[2022-10-11 12:36] #73 closed

[2022-10-11 13:42] OMH-G opened #102 "Async and Await functionality"
### What would you like to share?

**Description**
Can we use `async `and `await `functionality in api so that may be error in response will be minimized doesn't matter it takes little extra time to resolve response by traversing through data .
@nikhil25803 can you suggest what is scope of this idea?

### Additional information

_No response_

[2022-10-11 17:44] #36 closed

[2022-10-11 18:10] nikhil25803 commented on #102
Sure @OMH-G, Go ahead, happy Asynchronising :)

[2022-10-11 19:30] #69 closed

[2022-10-11 19:32] #58 closed

[2022-10-11 19:34] #50 closed

[2022-10-11 19:36] #48 closed

[2022-10-11 19:36] #15 closed

[2022-10-11 19:45] nikhil25803 opened #107 "Add endpoint to filter colleges by city and state."
### Description

**Notes**
+ The data of all the *colleges* is stored in the `data` folder.
+ Use that data to filter colleges by city and state.
+ Define two endpoints `colleges/city={city_name}` to filter colleges by city and `/colleges/state={states_name}` to filter colleges by state.
+ User must be able to pass multiple cities and states.

### Screenshots

_No response_

### Additional informa

[2022-10-11 19:49] nikhil25803 opened #108 "Build endpoints to filter Pharmacy colleges by city and state."
### Description

**Notes**
+ The data of all the *pharmacy* colleges is stored in the  `data` folder.
+ Build two endpoints, one to filter data by city and the second to filter data by state.
+ One endpoint is `pharmacy_colleges/state={states_name}` and `pharmacy_colleges/city={cities_name}`

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-11 20:02] nikhil25803 opened #109 "Build enpoints filter Dental colleges by city and state."
### What would you like to share?

**Notes**
+ Data of dental colleges is stored in the `data` folder.
+ Build two endpoints, that gives response as filtered data by the cities and states entered by the user.

### Additional information

+ Set the path as `/dental_colleges/city={}` and `/dental_colleges/state={}`.
+ User must be able to pass multiple city and state in the URL.

[2022-10-12 05:19] nikhil25803 opened #111 "Update Readme"
### Description

+ Update the endpoints in the `README.md`
+ Add [Nikhil Raj](https://github.com/nikhil25803) as the maintainer in the readme, for reference, you may check [this](https://github.com/Clueless-Community/web-ui-kit) one.

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-12 07:40] AffanPathan02 commented on #111
Can you assign me this work??

[2022-10-12 07:41] nikhil25803 commented on #111
Sure @AffanPathan02 , go ahead :))

[2022-10-12 11:26] jpphilips commented on #107
Please asign to me

[2022-10-12 11:26] jpphilips commented on #108
please assign to me

[2022-10-12 12:17] ashutoshkrris commented on #109
I'd like to work on this issue.

[2022-10-12 14:46] himanshu007-creator commented on #107
Hey @nikhil25803 , as @jpphilips  has shown interest in contributing to #108 and #109  as well, so i would like to take up this issue if you dont mind.

[2022-10-12 14:49] nikhil25803 commented on #109
Sure @ashutoshkrris , go  ahead :)

[2022-10-12 14:50] nikhil25803 commented on #108
Go ahead @jpphilips :)

[2022-10-12 14:51] nikhil25803 commented on #107
Hey @jpphilips , you already have been assigned one issue. So assigning this one to @himanshu007-creator.

[2022-10-13 02:37] #57 closed

[2022-10-13 02:38] #111 closed

[2022-10-13 05:25] #35 closed

[2022-10-13 12:51] M-Rahul1 commented on #56
Can I too add colleges in my area @nikhil25803

[2022-10-14 07:15] nikhil25803 commented on #16
Hey @lostgirljourney  | Any update?

[2022-10-14 07:17] nikhil25803 commented on #56
No @M-Rahul1 | These are nirf-listed colleges. So it will anyhow get refreshed when the code will run again.

[2022-10-14 07:17] #56 closed

[2022-10-14 17:05] #102 closed

[2022-10-15 18:38] nikhil25803 commented on #107
Hey @himanshu007-creator, any updates?

[2022-10-15 18:42] #107 closed

[2022-10-15 18:44] nikhil25803 commented on #108
Any update @jpphilips?

[2022-10-15 18:47] nikhil25803 commented on #109
Any update @ashutoshkrris?

[2022-10-15 18:55] jpphilips commented on #108
Working on it. PR soon

[2022-10-15 18:58] nikhil25803 commented on #108
Okay :)

[2022-10-16 04:22] ashutoshkrris commented on #109
I'm working on it and will make a PR by EOD today. @nikhil25803

[2022-10-16 04:23] nikhil25803 commented on #109
Great @ashutoshkrris :)

[2022-10-16 07:40] #108 closed

[2022-10-16 07:42] #109 closed

[2022-10-16 11:57] Ajit619 opened #121 "Changes in filter.py, processing function is not there can i add, please assign me"
### Description

@nikhil25803  Changes in filter.py, processing function is not there can i add, please assign me
before:-
  output = []
    for i in range(len(data)):
        stateCheck = data[i]['state'].replace(" ", "").lower()
        if stateCheck == state:
            output.append(data[i])
    return output
after:-
 return processing(data, 'state', state)

### Screenshots

_No response_

##

[2022-10-16 17:56] Ajit619 commented on #121
@nikhil25803 please assign this task I have searched this very hardly in your code

[2022-10-16 18:07] Ajit619 opened #123 "In collegeAPI/data/allengineeringcollege.json one College is missing"
### Description
@nikhil25803 this college is missing
Matoshri College Of Engineering & Research Centre, Eklhare, Nashik

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-16 18:08] Ajit619 commented on #123
@nikhil25803 please assign this task to me

[2022-10-16 18:49] nikhil25803 commented on #123
Hey @Ajit619 , we do not add colleges that are not listed in NIRF.

[2022-10-16 18:49] #123 closed

[2022-10-16 18:49] nikhil25803 commented on #121
Sure @Ajit619 , go ahead :)

[2022-10-16 18:53] nikhil25803 opened #124 "Add endpoint to filter colleges by city and state."
### Description

+ Build endpoints in`main.py` to filter colleges by city and state
+ [This](https://github.com/Clueless-Community/collegeAPI/blob/main/data/allNirfColleges.json) is the data we need to filter out.
+ Go through the other filter endpoint and build this one accordingly.

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-16 18:57] nikhil25803 opened #125 "Build endpoint to fetch all the participated law institutes ."
### Description

**Notes**
+ [This](html) is the list of all the NIRF-ranked law colleges.
+ Build an endpoint to fetch this list
+ Set the path as `/law_colleges/nirf`

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-16 18:59] nikhil25803 opened #126 "Add an endpoint to fetch the overall ranked colleges by NIRF."
### Description

**Notes**
+ [This](https://www.nirfindia.org/2022/OverallRanking.html) is the list of overall colleges ranked by NIRF.
+ Build an endpoint to fetch this data.
+ Set the path as `/all/nirf`

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-16 19:02] nikhil25803 opened #127 "Buid an endpoint to fetch the participated institutes overall."
### Description

**Notes**
+ [This ](https://www.nirfindia.org/2022/OverallRankingALL.html) is the list of all the participating institutes in NIRF.
+ Build an endpoint to fetch this data.
+ Set the path as `/all`

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-17 01:54] Ajit619 commented on #121
@nikhil25803 thanks bro your work is done

[2022-10-17 01:57] Ajit619 commented on #123
@nikhil25803 no problem brother

[2022-10-17 03:53] lostgirljourney commented on #16
Hey @nikhil25803, I will start now. I was having exams.

[2022-10-17 06:53] Ajit619 opened #129 "Changes required in filter.py preprocessing function is wrongly defined please assign me this task"
### Description

@nikhil25803 here is the bug
Before:-
output = []
    for i in range(len(data)):
        cityCheck = data[i]['city'].lower()
        if cityCheck == city:
            output.append(data[i])

    return output

After:-
return processing(data,'city',city)

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-17 06:53] #129 closed

[2022-10-17 09:19] engineervt opened #131 "UPDATED "allAgriculture.json""
### Description

I Had updated and add  a college in " allAgriculture.json"
kindly merge it and mark it as "Hacktoberfest Accepted"

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-17 09:26] engineervt opened #133 "I want to add new collage in "allEngineeringColleges.json""
### Description

 i had add new collage in "allEngineeringColleges.json" kindly accept and merge it and mark it "Hacktoberfest Accepted"

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-17 18:38] #131 closed

[2022-10-17 20:01] jpphilips commented on #124
Please assign to me

[2022-10-17 20:01] jpphilips commented on #125
Please assign to me

[2022-10-17 20:29] nikhil25803 commented on #124
Sure @jpphilips :)

[2022-10-18 08:24] srini047 commented on #126
Hi team, I would like to work on this issue.

[2022-10-18 14:34] nikhil25803 commented on #126
Sure @srini047, go ahead.

[2022-10-18 15:22] Subhraneel77 opened #139 "Added new engineering college name"
### Description

A new college name added

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-18 17:11] #139 closed

[2022-10-19 16:41] Sourabh06 commented on #127
Hi. Can I work on this?

[2022-10-19 17:54] nikhil25803 commented on #127
Sure @Sourabh06 :)

[2022-10-19 18:54] NeerajGartia21 commented on #124
I wan to work on this issue. Can you please assign it to me.

[2022-10-19 18:59] NeerajGartia21 opened #141 "[FEATURE] Add pagination in the APIs"
### Description

It will be better to add pagination to the APIs with custom number of response per request.

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-19 19:18] nikhil25803 commented on #141
Good idea @NeerajGartia21, go ahead :)

[2022-10-19 19:19] nikhil25803 commented on #124
Hey @NeerajGartia21, it has already been assigned to someone.

[2022-10-19 19:22] #127 closed

[2022-10-20 13:50] #121 closed

[2022-10-20 13:51] nikhil25803 commented on #124
Hey @jpphilips, any update?

[2022-10-20 13:51] nikhil25803 commented on #126
Hey @srini047, any updates?

[2022-10-20 14:02] srini047 commented on #126
Hey, @nikhil25803 sorry for the inconvenience. I currently have my internals scheduled which ends tomorrow. I will update the progress tomorrow.

[2022-10-21 12:41] srini047 commented on #126
@nikhil25803 I have a small doubt.

While I was trying to add a `/all/nirf` endpoint I came to know that it already exists in the code.

https://github.com/Clueless-Community/collegeAPI/blob/main/main.py#L86-L95

Is my understanding correct? If not correct I would love to hear it.

[2022-10-21 13:49] #124 closed

[2022-10-21 13:50] #141 closed

[2022-10-23 07:07] srini047 commented on #126
Hey, @nikhil25803 shocked to see that the endpoint `/all/nirf` already exists in the `main.py` file.

[2022-10-23 07:15] nikhil25803 commented on #126
I quotes earlier... Change that endpoint to `/all` and add your new endpoint as `/all/nirf`

[2022-10-23 07:27] srini047 commented on #126
`/all` endpoint too already exists.

[2022-10-23 07:30] SanskritiGupta05 opened #146 "add a college name in data/allEngineeringColleges.json"
### What would you like to share?

I'd like to add a college name in allEngineeringColleges.json file in the data Folder.
please assign this issue to me.

### Additional information

_No response_

[2022-10-23 14:10] nikhil25803 commented on #146
Hey @SanskritiGupta05, we do not add colleges that are not listed by NIRF, also can't accept this because according to the PR/MR policy of Hactoberfest, repos that encourage simplistic PR/MRS (like adding a name or profile to a list or arbitrarily curating content) will be excluded from Hacktoberfest.

Hope to see some quality changes from your side next time. Remember: quantity is fun, and qualit

[2022-10-23 14:10] #146 closed

[2022-10-23 14:11] nikhil25803 commented on #126
Yes, @srini047 👀
Thanks for letting me know and extremely sorry for the inconvinience.

[2022-10-23 14:11] #126 closed

[2022-10-23 14:43] SanskritiGupta05 commented on #146
Sure, I absolutely agree that quality is more important. That's why I wanted to add it, as it will eventually improve the dataset. No worries, I'll try to contribute in other ways. Thanks for replying! 😊

[2022-10-23 14:45] nikhil25803 commented on #146
Yes, the college names will get refreshed once the respective Python files will run anyway, so populating it won't make a change.

[2022-10-23 15:15] nikhil25803 commented on #125
Hey @jpphilips, any updates?

[2022-10-23 15:17] nikhil25803 opened #148 "Add description to every endpoints."
### Description

**Note**
+ We need to add the description to every endpoint, describing that what this endpoint does.
+ Example :
[code]
+ As you can see, after declaring the path, I added `description="  "`

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-23 16:38] deathsurgeon1 commented on #148
Hi @nikhil25803 , i would like to work on this.

[2022-10-23 17:12] nikhil25803 commented on #148
Sure @deathsurgeon1, go ahead and add description to each endpoint accordingly :)

[2022-10-23 17:31] nikhil25803 opened #149 "Endpoint to fetch colleges filtered by city and state."
### Description

**Notes**
+ Build an endpoint that filter [this](https://github.com/Clueless-Community/collegeAPI/blob/main/data/allNirfColleges.json) data by city and state.
+ Build two endpoints, one to filter data by city and the other to filter data by state.
+ Name the endpoint as, `/colleges/city={cities_name}` and `/colleges/state={states_name}`

### Screenshots

_No response_

### Additio

[2022-10-23 17:55] Alanzz commented on #149
I would like to work on this.

[2022-10-23 17:57] nikhil25803 commented on #149
Sure @Alanzz, go ahead :)

[2022-10-25 03:53] #125 closed

[2022-10-25 03:55] #148 closed

[2022-10-25 21:45] nikhil25803 opened #154 "Add an endpoint to fetch all the participated law instututes."
### Description

**Notes**
+ [This](https://www.nirfindia.org/2022/LawRankingALL.html) is the the page you need to scrape
+ Add and name the endpoint as `/law_colleges` in the `main.py`
+ Save the data in the `/data` and the python script in the `/helpers` folder.

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-27 10:33] gaut2003 commented on #154
Please assign this to me @nikhil25803

[2022-10-27 10:41] nikhil25803 commented on #154
Go ahead @gaut2003 :))

[2022-10-27 17:51] nikhil25803 opened #158 "Add tags to each endpoints."
### Description

**Note**
+ One needs to add tags to each endpoint as shown in the code below
[code]

+ The tag must be according to the endpoint. Eg. `tags=['medical_colleges']` for medical colleges endpoint.
+ This will help in improving the documentation of the project and also enhance code readability.
![image](https://user-images.githubusercontent.com/93156825/198362804-0c8eee24-11d1-4e23-861

[2022-10-27 17:56] zmusaddique commented on #158
Hey! @nikhil25803 !
I would like to work on this

[2022-10-27 17:57] nikhil25803 commented on #158
Sure @zmusaddique, go ahead :))

[2022-10-27 18:24] nikhil25803 commented on #16
Hey @lostgirljourney, there are only a few days left in Hactoberfest'22. Any updates?

[2022-10-27 18:26] zmusaddique commented on #158
![image](https://user-images.githubusercontent.com/84737749/198369186-c3b39956-dc36-4b27-a4b0-fb110e239e60.png)

What should be the tag for colleges section? Just colleges?

[2022-10-27 18:27] nikhil25803 commented on #158
Yes xD

[2022-10-27 18:56] zmusaddique commented on #158
Have made a PR.

[2022-10-27 20:10] #158 closed

[2022-10-27 20:12] nikhil25803 opened #161 "Update endpoints in README file."
### Description

**Notes**
+ All the endpoints are mentioned in the `README.md` file, one needs to update it.

[2022-10-27 20:38] lhardt commented on #161
Hello! I could work on it

[2022-10-27 21:17] nikhil25803 commented on #161
Go for it @lhardt :))

[2022-10-28 01:21] lhardt commented on #161
@nikhil25803, pull request made!

[2022-10-28 02:54] rahulkarda commented on #16
Assign it to me if there's no update or I can help maybe.

[2022-10-28 02:55] nikhil25803 commented on #16
Assigned it to you bhaiya :)) @rahulkarda

[2022-10-28 03:47] rahulkarda commented on #16
Awesome! Will start working on it.

[2022-10-28 06:15] nikhil25803 commented on #154
Hey @gaut2003, any update?

[2022-10-28 17:06] #161 closed

[2022-10-30 19:08] atharbeginner commented on #154
@nikhil25803 Can you assign this to me ?

[2022-10-30 22:41] nikhil25803 commented on #154
Will you able to make the PR by evening? @atharbeginner

[2022-10-30 22:48] atharbeginner commented on #154
@nikhil25803 its already done

[2022-10-30 22:58] nikhil25803 commented on #154
Go ahead and make a PR @atharbeginner

[2022-10-30 23:20] #154 closed

[2022-10-30 23:21] nikhil25803 commented on #154
Merged!
@atharbeginner, we need two more endpoints. One to filter colleges by city and other by state. Will you be able to do that?

[2022-10-30 23:32] atharbeginner commented on #154
@nikhil25803 Can you create issue for this. Hopefully I will try this by evening!

[2022-10-30 23:52] nikhil25803 commented on #154
@atharbeginner
Start working on it, will create an issue and assign it to you.

[2022-10-31 08:42] atharbeginner commented on #154
@nikhil25803 did the code, just create the issue so that i can create pr

[2022-10-31 11:01] nikhil25803 opened #164 "Add endpoints to filter law colleges by city and state."
### Description

+ Build and add endpoints to filter law colleges by city and state

### Screenshots

_No response_

### Additional information

_No response_

[2022-10-31 11:02] nikhil25803 commented on #154
@atharbeginner | The issue has been created, add a comment there, I'll assign it to you.

[2022-10-31 11:06] nikhil25803 commented on #164
Make the changes, and make the PR :)

[2022-10-31 11:18] #164 closed

[2022-11-05 12:16] nikhil25803 opened #166 "Improve query parameter in filtering endpoints."
### Description

Use the `Query()` parameter in the defined functions.

### Screenshots

_No response_

### Additional information

_No response_

[2022-11-10 02:26] TUDz commented on #166
Hi,

Can I get assigned to this Issue (Improvement)?

:)

[2022-11-10 16:02] nikhil25803 commented on #166
@TUDz  | Are you familiar with the `Quer()` parameter, that comes along with FastAPI?